.cat1 {
  background-image: linear-gradient(to right, #ff9e34, #ffd019);
  padding: 10px 30px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.cat2 {
  background-image: linear-gradient(to bottom, #ff5599, #ff2279);
  padding: 25px 30px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.cat3 {
  background-image: linear-gradient(90deg, #4288ff, #3f07f8);
  padding: 25px 30px;
  border-radius: 20px;
}

.cat {
  min-height: 100px;
  color: white;
}
a {
  text-decoration: none;
}
.cat img {
  width: 150px;
}

.underline {
  width: 80px;
  height: 3px;
  border-radius: 20px;
  margin: 30px auto;
  background-color: #ffa033;
  margin-bottom: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.name-highlight {
  color: #ffa033;
  font-size: 40px;
}

#skills {
  padding-bottom: 20px;
}

.skill-item {
  margin: 20px 20px;
  padding: 50px 30px;
  background-color: #172d43;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
}

.skill-item p {
  margin-top: 20px;
  color: white;
}

.skill-item:hover {
  background-color: #163b61;
  /* box-shadow: 5px 5px 3px gray; */
}

.skill-item {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn-general {
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn-portfolio {
  color: #02b0af;
  font-size: 16px;
  border: 2px solid #ffd016;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: #02b0af;
  color: white;
  border: 2px solid #02b0af;
}
